.App {
  text-align: center;
}

#demo {
  width: 500px;
  margin : 0 auto;
  text-align: center;
}

table{
  margin-top: 15px;
  border-collapse: collapse;
}

th{
  padding: 5px;
  background-color: #3C5186;
  color : #FFF5DE
}

td{
  padding: 5px;
}